[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
coverage = "*"
httpie = "*"
ipython = "*"

[requires]
python_version = "3.8"
