[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "3.2.10"
djangorestframework = "3.12.1"
python-dotenv = "0.14.0"

[dev-packages]

[requires]
python_version = "3.8"
