{% extends "crm/base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <h2>Dashboard</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Recent customers:</h3>
                <a href="{% url 'customer-form' %}"><button class="btn btn-dark">New customer</button></a>
                <ul>
                    {% for customer in recent_customers %}
                        <li><a href="{% url 'customer-detail' pk=customer.id %}">{{ customer }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm">
                <h3>Recent orders: </h3>
                <a href="#"><button class="btn btn-dark">New order</button></a>
            </div>
        </div>
    </div>

{% endblock content %}
